body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.edit-partner-container {
    width: 100%;
    max-width: 600px; 
    margin: 50px auto;
    background: #fff;
    padding: 70px; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-partner-container h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.edit-partner-container input[type=text],
.edit-partner-container input[type=password] {
    width: 100%;
    padding: 35px; 
    margin-bottom: 35px; 
    border: 2px solid #ddd; 
    box-sizing: border-box;
    font-size: 40px;
}

.edit-partner-container input[type=submit] {
    width: 100%;
    padding: 35px;
    background-color: #5cb85c;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 40px;
}

.edit-partner-container input[type=submit]:hover {
    background-color: #4cae4c;
}

.edit-partner-container button {
    width: 100%;
    padding: 35px;
    background-color: #d9534f;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 35px;
    font-size: 40px;
}

.edit-partner-container button:hover {
    background-color: #c9302c;
}
