<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Вход</h2>
        <form class="login-form" method="post" action="/login">
            <div class="input-group">
                <input type="text" name="username" placeholder="Введите логин" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Введите пароль" required>
            </div>
            <div class="buttons">
                <button type="submit" class="btn login">Войти</button>
            </div>
        </form>
    </div>
</body>
</html>
